In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('HW1-data.csv')

In [3]:
film_name =  ['260: Star Wars: Episode IV - A New Hope (1977)',
       '1210: Star Wars: Episode VI - Return of the Jedi (1983)',
       '356: Forrest Gump (1994)', '318: Shawshank Redemption, The (1994)',
       '593: Silence of the Lambs, The (1991)', '3578: Gladiator (2000)',
       '1: Toy Story (1995)', '2028: Saving Private Ryan (1998)',
       '296: Pulp Fiction (1994)', '1259: Stand by Me (1986)',
       '2396: Shakespeare in Love (1998)', '2916: Total Recall (1990)',
       '780: Independence Day (ID4) (1996)', '541: Blade Runner (1982)',
       '1265: Groundhog Day (1993)', '2571: Matrix, The (1999)',
       "527: Schindler's List (1993)", '2762: Sixth Sense, The (1999)',
       '1198: Raiders of the Lost Ark (1981)', '34: Babe (1995)']

# Assignment #1: Response #1: Top Movies by Mean Rating

In [4]:
data[film_name].mean().sort_values(ascending=False)[:3]

318: Shawshank Redemption, The (1994)             3.600000
260: Star Wars: Episode IV - A New Hope (1977)    3.266667
541: Blade Runner (1982)                          3.222222
dtype: float64

# Assignment #1: Response #2: Top Movies by Count

In [5]:

data[film_name].count().sort_values(ascending=False)[:3]

1: Toy Story (1995)                               17
593: Silence of the Lambs, The (1991)             16
260: Star Wars: Episode IV - A New Hope (1977)    15
dtype: int64

# Assignment #1: Response #3: Top Movies by Percent Liking

In [6]:
(data[film_name][data[film_name]>=4].count()/data[film_name].count()).sort_values(ascending=False)[:3]

318: Shawshank Redemption, The (1994)             0.700000
260: Star Wars: Episode IV - A New Hope (1977)    0.533333
3578: Gladiator (2000)                            0.500000
dtype: float64

# Assignment #1: Response #4: Association with Toy Story

In [7]:
sub_count = data.loc[pd.notnull(data['1: Toy Story (1995)']),'1: Toy Story (1995)'].count()
(data.loc[pd.notnull(data['1: Toy Story (1995)']),film_name].count()/sub_count).sort_values(ascending=False)[1:5]

260: Star Wars: Episode IV - A New Hope (1977)             0.823529
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.764706
593: Silence of the Lambs, The (1991)                      0.764706
780: Independence Day (ID4) (1996)                         0.764706
dtype: float64

# Assignment #1: Response #5: Correlation with Toy Story

In [8]:
data[film_name].apply(lambda x:x.corr(data['1: Toy Story (1995)']),axis=0).sort_values(ascending=False)[1:4]

318: Shawshank Redemption, The (1994)    0.888523
34: Babe (1995)                          0.811107
296: Pulp Fiction (1994)                 0.709842
dtype: float64

# Assignment #1: Response #6: Male-Female Differences in Average Rating

In [9]:
data.groupby('Gender (1 =F, 0=M)')[film_name].mean().apply(lambda x:x[0]-x[1]).sort_values(ascending=False)# Male - Female

1198: Raiders of the Lost Ark (1981)                       1.666667
527: Schindler's List (1993)                               1.000000
2571: Matrix, The (1999)                                   0.742857
1265: Groundhog Day (1993)                                 0.666667
593: Silence of the Lambs, The (1991)                      0.619048
1259: Stand by Me (1986)                                   0.571429
2916: Total Recall (1990)                                  0.485714
2028: Saving Private Ryan (1998)                           0.392857
780: Independence Day (ID4) (1996)                         0.190476
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.000000
3578: Gladiator (2000)                                    -0.166667
260: Star Wars: Episode IV - A New Hope (1977)            -0.303571
2762: Sixth Sense, The (1999)                             -0.333333
318: Shawshank Redemption, The (1994)                     -0.400000
541: Blade Runner (1982)                                  -0.500000
356: Forrest Gump (1994)                                  -0.750000
1: Toy Story (1995)                                       -1.271429
296: Pulp Fiction (1994)                                  -1.375000
34: Babe (1995)                                           -1.428571
2396: Shakespeare in Love (1998)                          -2.107143
dtype: float64

In [10]:
data.loc[data['Gender (1 =F, 0=M)']==1,film_name].stack().mean()-data.loc[data['Gender (1 =F, 0=M)']==0,film_name].stack().mean()

0.0418566100290092

# Assignment #1: Response #7: Male-Female differences in Liking

In [11]:
woman_rating = data[data['Gender (1 =F, 0=M)']==1][data[film_name]>=4][film_name].count()/data[data['Gender (1 =F, 0=M)']==1][film_name].count()
man_rating = data[data['Gender (1 =F, 0=M)']==0][data[film_name]>=4][film_name].count()/data[data['Gender (1 =F, 0=M)']==0][film_name].count()
(man_rating - woman_rating).sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       0.500000
2571: Matrix, The (1999)                                   0.371429
527: Schindler's List (1993)                               0.333333
593: Silence of the Lambs, The (1991)                      0.269841
2916: Total Recall (1990)                                  0.200000
1265: Groundhog Day (1993)                                 0.166667
2762: Sixth Sense, The (1999)                              0.000000
3578: Gladiator (2000)                                     0.000000
780: Independence Day (ID4) (1996)                        -0.047619
260: Star Wars: Episode IV - A New Hope (1977)            -0.071429
1259: Stand by Me (1986)                                  -0.178571
318: Shawshank Redemption, The (1994)                     -0.200000
2028: Saving Private Ryan (1998)                          -0.214286
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.250000
1: Toy Story (1995)                                       -0.371429
296: Pulp Fiction (1994)                                  -0.416667
356: Forrest Gump (1994)                                  -0.500000
541: Blade Runner (1982)                                  -0.550000
34: Babe (1995)                                           -0.571429
2396: Shakespeare in Love (1998)                          -0.750000
dtype: float64

In [12]:
woman_rating = data.loc[data['Gender (1 =F, 0=M)']==1][data[film_name]>=4][film_name].stack().count()/data.loc[data['Gender (1 =F, 0=M)']==1][film_name].stack().count()
man_rating = data.loc[data['Gender (1 =F, 0=M)']==0][data[film_name]>=4][film_name].stack().count()/data.loc[data['Gender (1 =F, 0=M)']==0][film_name].stack().count()
woman_rating - man_rating

0.082469954413593005