In [1]:
import pandas as pd
import numpy as np
# sklearn.metrics import mean_absolute_error,mean_squared_error

In [2]:
user_ratings = pd.read_excel('./Metric-SpreadSheet-Assignment.xlsx',skip_footer=70,skiprows=1,index_col=0)

In [3]:
user_ratings = user_ratings.iloc[:,:-3]

In [4]:
user_predictings = pd.read_excel('./Metric-SpreadSheet-Assignment.xlsx',skip_footer=56,skiprows=15,index_col=0)

In [5]:
user_predictings = user_predictings.iloc[:,:-3]

In [6]:
user_predictings.columns = user_ratings.columns

In [7]:
MAE_by_user = pd.read_excel('./Metric-SpreadSheet-Assignment.xlsx',skiprows=27,skip_footer=44,index_col=0)

In [8]:
MAE_by_user = MAE_by_user.iloc[:,:-3]

In [9]:
MAE_by_user.columns = user_ratings.columns

# 1.Compute the mean absolute error for each user

In [10]:
MAE_by_user['MAE'] = MAE_by_user.mean(axis=1)

In [11]:
MAE_by_user.sort_values('MAE',ascending=False)

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),MAE
Users,,,,,,,,,,,
2267,NaN,NaN,0.4,NaN,NaN,0.6,1.1,NaN,1.5,NaN,0.900000
3556,0.3,0.7,0.3,2.0,1.4,0.9,NaN,NaN,NaN,0.3,0.842857
5261,NaN,NaN,0.4,NaN,2.0,1.2,NaN,0.0,0.5,NaN,0.820000
918,1.0,2.7,0.1,NaN,0.4,NaN,0.6,NaN,0.0,NaN,0.800000
860,0.0,1.0,0.7,NaN,1.6,0.6,NaN,1.2,0.4,NaN,0.785714
4942,NaN,1.1,0.7,1.0,0.7,0.6,0.6,NaN,0.8,0.6,0.762500
5136,0.4,0.7,0.3,0.3,1.2,0.2,1.8,1.1,NaN,0.6,0.733333
442,0.6,NaN,1.2,1.0,1.2,0.8,0.8,0.0,0.5,0.0,0.677778
2492,0.4,0.8,0.7,0.8,0.7,0.7,NaN,0.0,0.8,0.4,0.588889
2824,0.2,NaN,0.2,NaN,0.6,0.2,NaN,NaN,0.8,NaN,0.400000

# 2. Also compute the mean absolute error associated with the predictions for each movie. For example, Forrest Gump has an MAE of 0.5.

In [12]:
MAE_by_user.mean(axis=0).sort_values(ascending=False)

12: Finding Nemo (2003)                                                               1.166667
22: Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     1.088889
14: American Beauty (1999)                                                            1.020000
38: Eternal Sunshine of the Spotless Mind (2004)                                      0.980000
MAE                                                                                   0.731107
77: Memento (2000)                                                                    0.662500
24: Kill Bill: Vol. 1 (2003)                                                          0.644444
13: Forrest Gump (1994)                                                               0.500000
63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                         0.460000
11: Star Wars: Episode IV - A New Hope (1977)                                         0.414286
85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.380000
dtype: float64

# 3. Compute the overall MAE three ways (three decimal places is enough):

In [13]:
movie_names = ['11: Star Wars: Episode IV - A New Hope (1977)',
       '12: Finding Nemo (2003)', '13: Forrest Gump (1994)',
       '14: American Beauty (1999)',
       '22: Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
       '24: Kill Bill: Vol. 1 (2003)',
       '38: Eternal Sunshine of the Spotless Mind (2004)',
       '63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', '77: Memento (2000)',
       '85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
]

In [14]:
print('normal MAE',MAE_by_user[movie_names].sum().sum()/MAE_by_user[movie_names].count().sum())

normal MAE 0.7246376811594202

In [15]:
print('by user MAE',MAE_by_user.MAE.mean())

by user MAE 0.731107142857143

In [16]:
print('by movie MAE',MAE_by_user[movie_names].mean(axis=0).mean())

by movie MAE 0.7316785714285714

# 4. Next, create a matrix with the squared errors (instead of absolute errors), and compute the MSE and RMSE (root-mean-squared-error) for each user.

In [17]:
SE_by_user = (user_predictings[movie_names] - user_ratings[movie_names]).applymap(lambda x:np.square(x))

In [18]:
SE_by_user['MSE'] = SE_by_user.mean(axis=1)
SE_by_user['RMSE'] = SE_by_user['MSE'].apply(lambda x:np.sqrt(x))

In [19]:
SE_by_user.sort_values('MSE',ascending=False)

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),MSE,RMSE
Users,,,,,,,,,,,,
918,1.00,7.29,0.01,NaN,0.16,NaN,0.36,NaN,0.00,NaN,1.470000,1.212436
5261,NaN,NaN,0.16,NaN,4.00,1.44,NaN,0.00,0.25,NaN,1.170000,1.081665
3556,0.09,0.49,0.09,4.00,1.96,0.81,NaN,NaN,NaN,0.09,1.075714,1.037166
2267,NaN,NaN,0.16,NaN,NaN,0.36,1.21,NaN,2.25,NaN,0.995000,0.997497
860,0.00,1.00,0.49,NaN,2.56,0.36,NaN,1.44,0.16,NaN,0.858571,0.926591
5136,0.16,0.49,0.09,0.09,1.44,0.04,3.24,1.21,NaN,0.36,0.791111,0.889444
442,0.36,NaN,1.44,1.00,1.44,0.64,0.64,0.00,0.25,0.00,0.641111,0.800694
4942,NaN,1.21,0.49,1.00,0.49,0.36,0.36,NaN,0.64,0.36,0.613750,0.783422
2492,0.16,0.64,0.49,0.64,0.49,0.49,NaN,0.00,0.64,0.16,0.412222,0.642045
2824,0.04,NaN,0.04,NaN,0.36,0.04,NaN,NaN,0.64,NaN,0.224000,0.473286

In [20]:
SE_by_user.sort_values('RMSE',ascending=False)

,11: Star Wars: Episode IV - A New Hope (1977),12: Finding Nemo (2003),13: Forrest Gump (1994),14: American Beauty (1999),22: Pirates of the Caribbean: The Curse of the Black Pearl (2003),24: Kill Bill: Vol. 1 (2003),38: Eternal Sunshine of the Spotless Mind (2004),63: Twelve Monkeys (a.k.a. 12 Monkeys) (1995),77: Memento (2000),85: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),MSE,RMSE
Users,,,,,,,,,,,,
918,1.00,7.29,0.01,NaN,0.16,NaN,0.36,NaN,0.00,NaN,1.470000,1.212436
5261,NaN,NaN,0.16,NaN,4.00,1.44,NaN,0.00,0.25,NaN,1.170000,1.081665
3556,0.09,0.49,0.09,4.00,1.96,0.81,NaN,NaN,NaN,0.09,1.075714,1.037166
2267,NaN,NaN,0.16,NaN,NaN,0.36,1.21,NaN,2.25,NaN,0.995000,0.997497
860,0.00,1.00,0.49,NaN,2.56,0.36,NaN,1.44,0.16,NaN,0.858571,0.926591
5136,0.16,0.49,0.09,0.09,1.44,0.04,3.24,1.21,NaN,0.36,0.791111,0.889444
442,0.36,NaN,1.44,1.00,1.44,0.64,0.64,0.00,0.25,0.00,0.641111,0.800694
4942,NaN,1.21,0.49,1.00,0.49,0.36,0.36,NaN,0.64,0.36,0.613750,0.783422
2492,0.16,0.64,0.49,0.64,0.49,0.49,NaN,0.00,0.64,0.16,0.412222,0.642045
2824,0.04,NaN,0.04,NaN,0.36,0.04,NaN,NaN,0.64,NaN,0.224000,0.473286

# 5. Then, compute the overall MSE and RMSE across all predictions (just the normal way, no need to compute by-user or by-movie). Again, remember to average all the squared errors to compute MSE, then take the square root of the MSE to get RMSE.

In [21]:
print('overall MSE',SE_by_user[movie_names].sum().sum()/SE_by_user[movie_names].count().sum())

overall MSE 0.7944927536231883

In [22]:
print('overall RMSE',np.sqrt(SE_by_user[movie_names].sum().sum()/SE_by_user[movie_names].count().sum()))

overall RMSE 0.891343229976

# 6. Next, compute the correlation between ratings and predictions using the built-in CORREL() function. First, do this for each user (e.g., the correlation between ratings and predictions for user 5136 is 0.1698 -- only about 17%, and therefore not very good). Then, apply the same correlation to the full matrices.

In [23]:
user_predictings[movie_names].corrwith(user_ratings[movie_names],axis=1).sort_values(ascending=False)

Users
5261    0.920746
442     0.774450
2267    0.633743
918     0.458946
2492    0.413615
4942    0.347857
2824    0.347677
5136    0.169813
3556   -0.095887
860    -0.148181
dtype: float64

In [24]:
user_predictings[movie_names].unstack().corr(user_ratings[movie_names].unstack(),)

0.56644751480428168