In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Cosine similarity between items using raw (unnormalized) ratings.

In [2]:
data = pd.read_excel('./Assignment 5.xls',sheetname=0,)
data = data.fillna(0)

In [3]:
matrix = pd.read_excel('./Assignment 5.xls',sheetname=2)
matrix = pd.DataFrame(cosine_similarity(data.values[:-1,1:-1].T),index=matrix.index,columns=matrix.columns)

In [4]:
matrix = matrix.applymap(lambda x:max(0,x))

In [5]:
matrix.loc['1: Toy Story (1995)'].nlargest(6).iloc[1:]

260: Star Wars: Episode IV - A New Hope (1977)    0.747409
780: Independence Day (ID4) (1996)                0.690665
296: Pulp Fiction (1994)                          0.667846
318: Shawshank Redemption, The (1994)             0.667424
1265: Groundhog Day (1993)                        0.661016
Name: 1: Toy Story (1995), dtype: float64

In [6]:
def get_score(row,user):
    user_rating = data.loc[(data.User==user)]
    user_hist_item = user_rating.columns[pd.notnull(user_rating).values[0]]
    movie_name = row.name

    neighbor_names = user_hist_item.tolist()#row.index.tolist()

    if 'User' in neighbor_names:
        neighbor_names.remove('User')
    if 'Mean' in neighbor_names:
        neighbor_names.remove('Mean')
    a = row.loc[neighbor_names].values
    b = data.loc[data.User==user,neighbor_names]

    return np.dot(a,b.values[0])/np.sum(a)

In [7]:
data = pd.read_excel('./Assignment 5.xls',sheetname=0,)

In [8]:
user_rating = data.loc[data.User==5277]

In [9]:
idx = user_rating.columns[pd.notnull(user_rating).values[0]].tolist()
idx.remove('User')
idx.remove('Mean')

In [10]:
ans = matrix.apply(get_score,axis=1,args=(5277,))
ans[idx].nlargest(5)

527: Schindler's List (1993)                      2.973883
1259: Stand by Me (1986)                          2.928801
260: Star Wars: Episode IV - A New Hope (1977)    2.922240
593: Silence of the Lambs, The (1991)             2.883304
2396: Shakespeare in Love (1998)                  2.852131
dtype: float64

# Cosine similarity using adjusted (normalized) ratings.

In [11]:
data = pd.read_excel('./Assignment 5.xls',sheetname=1,)
matrix = pd.read_excel('./Assignment 5.xls',sheetname=2)
matrix = pd.DataFrame(cosine_similarity(data.values[:-1,1:].T),index=matrix.index,columns=matrix.columns)

In [12]:
matrix = matrix.applymap(lambda x:max(0,x))

In [13]:
matrix.loc['1: Toy Story (1995)'].nlargest(6)[1:]

34: Babe (1995)                          0.554448
356: Forrest Gump (1994)                 0.355780
296: Pulp Fiction (1994)                 0.295013
318: Shawshank Redemption, The (1994)    0.215975
2028: Saving Private Ryan (1998)         0.192799
Name: 1: Toy Story (1995), dtype: float64

In [14]:
def get_score(row,user):
    user_rating = data_old.loc[(data_old.User==user)]
    user_hist_item = user_rating.columns[pd.notnull(user_rating).values[0]]
    movie_name = row.name
    neighbor_names = user_hist_item.tolist()
    if 'User' in neighbor_names:
        neighbor_names.remove('User')
    if 'Mean' in neighbor_names:
        neighbor_names.remove('Mean')
    a = row.loc[neighbor_names].values
    b = data.loc[data.User==user,neighbor_names]
    return np.dot(a,b.values[0])/np.sum(a)

In [15]:
data_old = data = pd.read_excel('./Assignment 5.xls',sheetname=0,)

In [16]:
ans = matrix.apply(get_score,axis=1,args=(5277,))
ans[idx].nlargest(5)

260: Star Wars: Episode IV - A New Hope (1977)    4.565822
527: Schindler's List (1993)                      4.562483
1259: Stand by Me (1986)                          3.602141
2396: Shakespeare in Love (1998)                  3.297938
593: Silence of the Lambs, The (1991)             3.220890
dtype: float64