In [1]:
import pandas as  pd
import numpy as np

In [2]:
col_name = ['Movie ID','Title']
col_name.extend([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
data = pd.read_excel('Assignment_6.xls',skiprows=2,names=col_name)

# Top movies

In [3]:
data.sort_values(1,ascending=False).head()

,Movie ID,Title,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
86,4327,Charlie's Angels (2000),0.281990,0.080262,0.112268,-0.043805,0.022552,-0.093860,-0.066124,0.047216,0.044850,0.061068,-0.045692,-0.068778,-0.123570,0.098928,-0.281855
37,414,Batman Forever (1995),0.218089,-0.009324,0.050725,-0.073225,0.083830,-0.010205,-0.116477,-0.034974,-0.199162,-0.090010,-0.065392,-0.010013,0.042187,-0.094728,-0.245821
85,3049,Ace Ventura: Pet Detective (1994),0.190879,0.067747,0.002918,-0.033348,0.074343,0.285012,0.386962,-0.088550,-0.025470,-0.153609,0.019709,0.069423,-0.039800,0.044615,0.016156
90,8467,Dumb & Dumber (1994),0.190638,0.110683,-0.010021,-0.012114,0.138720,0.308335,0.394490,-0.145662,-0.015438,-0.157104,-0.121444,0.219125,-0.152166,0.034849,0.202725
68,854,The Mask (1994),0.158601,-0.006160,-0.020265,0.007000,-0.020494,0.228476,0.273633,-0.008621,-0.078120,-0.023222,0.197461,-0.101675,-0.063419,-0.131777,-0.116862

In [4]:
data.sort_values(2,ascending=False).head()

,Movie ID,Title,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
3,14,American Beauty (1999),-0.044468,0.198715,-0.006577,0.008760,0.056093,-0.020370,-0.046150,0.007244,0.008791,-0.067562,0.063375,-0.177547,-0.100531,0.068353,-0.085437
59,680,Pulp Fiction (1994),-0.166983,0.189565,0.067380,-0.085505,-0.006725,0.035841,0.069947,0.121598,-0.004379,-0.085352,0.049630,-0.004048,0.007686,0.028500,-0.230013
5,24,Kill Bill: Vol. 1 (2003),-0.045203,0.181570,0.205705,-0.171394,-0.005189,-0.115007,0.180589,0.525397,0.031987,0.047834,-0.138115,0.032692,0.088862,-0.048018,0.130020
32,275,Fargo (1996),-0.043682,0.161559,0.033419,0.022273,-0.009139,-0.015173,-0.073476,-0.041835,0.073475,-0.052947,-0.014390,0.021147,-0.101912,0.029872,0.000430
6,38,Eternal Sunshine of the Spotless Mind (2004),-0.048743,0.161058,0.014168,0.024869,0.047061,-0.040450,-0.020911,-0.109095,0.027812,-0.055463,0.059242,-0.126222,-0.022280,0.059654,0.029783

# Recommendations

In [5]:
score = pd.read_excel('Assignment_6.xls',sheetname=1)

In [6]:
weight = pd.read_excel('Assignment_6.xls')
weight = weight.iloc[0:1].values

In [7]:
score =np.dot(data.iloc[:,2:].values,score[score.User==4469].iloc[:,1:].values.T * weight.T)

In [8]:
rec = pd.DataFrame({'Movie ID':data['Movie ID'],'score':score.reshape(100,)})

In [9]:
rec.sort_values('score',ascending=False).head()

    Movie ID     score
33       278  0.207680
39       453  0.183286
10        98  0.173611
27       238  0.172180
2         13  0.170744